@import 'components/utils/colors';
@import 'components/utils/variables';

.app-logo {
  font-size: $fs_xx_large;
  line-height: 1.3;
  letter-spacing: 1px;
  padding-left: 1rem;
  font-weight: 600;
  user-select: none;
}