@import 'components/utils/variables';

.root {

  .drawer {
    justify-content: space-between;
  }

  .buttons {
    padding-bottom: 20px;
    text-align: center;

    >button {
      width: 100px;
    }
  }
}