@import 'components/utils/variables';

.root {

  @media (--large-viewport) {
    width: 240px;
  }

  .drawer {
    width: 240px;
    justify-content: space-between;

    @media (--small-viewport) {
      height: calc(100% - 48px);
      margin-top: 48px;
    }

    @media (--medium-viewport) {
      height: calc(100% - 56px);
      margin-top: 56px;
    }

    @media (--large-viewport) {
      height: calc(100% - 64px);
      margin-top: 64px;
    }
  }

  .buttons {
    padding-bottom: 20px;
    text-align: center;

    >button {
      width: 100px;
    }
  }
}