@import 'components/utils/colors';
@import 'components/utils/variables';
@import 'components/utils/mixins';

.root {
  display: inline-block;

  /* sizes */
  &.small {
    font-size: $fs_small;
  }

  &.medium {
    font-size: $fs_medium;
  }

  &.large {
    font-size: $fs_large;
  }

  &.x-large {
    font-size: $fs_x_large;
  }

  /* variants */
  &[data-variant='external'] {
    text-decoration: underline;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &[data-variant='internal'] {
    text-decoration: none;
    width: 100%;

    &:hover,
    &:active {
      color: $primary;
      text-decoration: underline;
    }
  }

  &[data-variant='anchor'] {
    position: absolute;
    margin-top: -70px;
  }

  /* ellipsis */
  &[data-ellipsis='true'] {
    @include ellipsis;
  }
}