@import 'components/utils/colors';

.root {
  display: inline-flex;
  align-items: center;
  height: 20px;

  .input {
    display: flex;
    align-items: center;

    input {
      display: none;
    }

    .radio {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        border: 3px solid $c_silver;
        border-radius: 50%;
        box-sizing: border-box;
        background-color: $white;
        transition: border-color 250ms linear;

        &::after {
          content: '';
          display: none;
          width: 8px;
          height: 8px;
          top: 0;
          left: 0;
          margin: 3px;
          border-radius: 50%;
          background-color: $primary;
        }

        &[data-checked='true'] {
          border-color: $primary;

          &::after {
            display: block;
          }
        }

        &[data-disabled='true'] {
          border-color: $c_silver;

          &[data-checked='true']::after {
            background-color: $c_silver;
          }
        }
      }
    }

    .children {
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: color 250ms linear;
    }

    &:hover {
      cursor: pointer;
      color: $primary;
    }

    &[disabled] {
      cursor: default;
      pointer-events: none;

      >.children {
        color: $disabled;
      }
    }
  }
}