@import 'components/utils/colors';
@import 'components/utils/variables';

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (--small-viewport) {
    margin: 1rem 0;
    flex-direction: column;
  }

  @media (--medium-viewport) {
    margin: 1.1rem 0;
  }

  @media (--large-viewport) {
    margin: 1.2rem 0;
  }

  .input,
  .output {
    flex: 1;
  }

  .side-spacer {
    padding: 1rem;
  }

  .content {
    height: 100%;
    padding: 1em;
    font-family: 'Fira Mono', 'Courier New', Courier, monospace;
    font-size: $fs_base_large;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    word-spacing: normal;
    background-color: $app_background-color;
  }
}