@import 'components/utils/colors';
@import 'components/utils/variables';

.root {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 100%;
  overflow-y: auto;
  display: block;
  padding: 16px;
  background-color: $white;
  border-left: 1px solid $col_alpha_1;

  @media (--small-viewport) {
    display: none;
  }
}