@import 'components/utils/colors';
@import 'components/utils/variables';

.root {
  position: sticky;
  overflow-y: auto;
  display: block;
  padding: 1.5rem 1rem;
  flex-shrink: 0;
  word-break: break-word;
  background-color: $white;
  transition: transition_duration_1;

  @media (--small-viewport) {
    display: none;
  }

  @media (--medium-viewport) {
    top: 56px;
    margin-top: 56px;
    height: calc(100vh - 56px);
    width: 130px;
  }

  @media (--large-viewport) {
    top: 64px;
    margin-top: 64px;
    height: calc(100vh - 64px);
    width: 150px;
  }
}
