/**
 * Flat UI Palette v1 Color
 */
$c_turquoise: #1abc9c;
$c_green_sea: #16a085;
$c_emerland: #2ecc71;
$c_nephritis: #27ae60;
$c_peter_river: #3498db;
$c_belize_hole: #2980b9;
$c_amethyst: #9b59b6;
$c_wisteria: #8e44ad;
$c_wet_asphalt: #34495e;
$c_midnight_blue: #2c3e50;
$c_sun_flower: #f1c40f;
$c_orange: #f39c12;
$c_carrot: #e67e22;
$c_pumpkin: #d35400;
$c_alizarin: #e74c3c;
$c_pomegranate: #c0392b;
$c_clouds: #ecf0f1;
$c_silver: #bdc3c7;
$c_concrete: #95a5a6;
$c_asbestos: #7f8c8d;

$primary: #1abc9c;
$primary_hover: #2fe2bf;
$info: #3498db;
$info_hover: #5dade2;
$danger: #e74c3c;
$danger_hover: #ec7063;
$success: #2ecc71;
$success_hover: #55d98d;
$warning: #f1c40f;
$warning_hover: #f4d03f;
$inverse: #34495e;
$inverse_hover: #4e6d8d;
$disabled: #95a5a6;

/**
 * Base Color
 */
$white: #fff;
$black: #000;
