@import 'components/utils/colors';
@import 'components/utils/variables';

@mixin color($borderColor, $backgroundColor, $textColor: $white) {
  border-left-color: $borderColor;
  background-color: $backgroundColor;
  color: $textColor;
}

.root {
  line-height: 1.2;
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  border-left-style: solid;
  border-left-width: 6px;

  /* colors */
  &.primary {
    @include color($primary_hover, $primary);
  }

  &.info {
    @include color($info_hover, $info);
  }

  &.danger {
    @include color($danger_hover, $danger);
  }

  &.success {
    @include color($success_hover, $success);
  }

  &.warning {
    @include color($warning_hover, $warning, $black);
  }

  &.inverse {
    @include color($inverse_hover, $inverse);
  }
}