@import 'components/utils/colors.scss';
@import 'components/utils/variables.scss';

.root {
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  border-left-style: solid;
  border-left-width: 6px;
  color: $white;

  &.primary {
    border-left-color: $primary_hover;
    background-color: $primary;
  }

  &.info {
    border-left-color: $info_hover;
    background-color: $info;
  }

  &.danger {
    border-left-color: $danger_hover;
    background-color: $danger;
  }

  &.success {
    border-left-color: $success_hover;
    background-color: $success;
  }

  &.warning {
    border-left-color: $warning_hover;
    background-color: $warning;
    color: $black;
  }

  &.inverse {
    border-left-color: $inverse_hover;
    background-color: $inverse;
  }
}