@import 'components/utils/colors.scss';
@import 'components/utils/variables.scss';

.root {
  width: 100%;
  display: flex;
  z-index: $appbar_layer;

  /* color */
  &.inverse {
    background-color: $inverse;
    color: $white;
  }

  &.primary {
    background-color: $primary;
    color: $white;
  }

  /* position */
  &.static {
    position: static;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  &.relative {
    position: relative;
  }
}