@import 'components/utils/colors';
@import 'components/utils/variables';

.root {
  width: 100%;
  display: flex;
  z-index: $appbar_layer;

  @media (--large-viewport) {
    width: calc(100% - 240px);
  }

  /* colors */
  &.primary {
    background-color: $primary;
    color: $white;
  }

  &.inverse {
    background-color: $inverse;
    color: $white;
  }

  /* position */
  &.static {
    position: static;
  }

  &.fixed {
    position: fixed;
  }

  &.relative {
    position: relative;
  }
}