@import 'components/utils/colors';
@import 'components/utils/variables';

@mixin color($mainColor, $textColor: $white) {
  border-color: $mainColor;
  background-color: $mainColor;
  color: $textColor;

  &[data-variant='outline'] {
    background-color: transparent;
    color: $mainColor;
  }
}

.root {
  padding: 1.5rem 2rem;
  border: 1px solid transparent;
  font-size: $fs_large;
  line-height: 1.5;

  /* colors */
  &.primary {
    @include color($primary);
  }

  &.info {
    @include color($info);
  }

  &.danger {
    @include color($danger);
  }

  &.success {
    @include color($success);
  }

  &.warning {
    @include color($warning, $black);
  }

  &.inverse {
    @include color($inverse);
  }

  &.light {
    @include color($white, $black);
  }

  &.dark {
    @include color($black);
  }
}