@import 'components/utils/colors';
@import 'components/utils/variables';

.link {
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 4px;
  font-weight: 400;
  color: $deep_gray;

  &.level1 {
    font-weight: 500;
    color: $black;
    position: relative;

    .arrow-icon {
      position: absolute;
      right: 10px;
      transition: $transition_duration_1;
    }
  }

  &[data-active='true'] {
    color: $primary;
  }

  &:hover {
    background-color: $col_alpha_08;
  }
}
