@import 'components/utils/colors';
@import 'components/utils/variables';

.root {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: $socialbar_layer;

  .social-item {
    display: block;
    text-align: center;
    transition: $transition_duration_2;
    color: $white;

    &:hover {
      background-color: $black;
    }

    @media (--small-viewport) {
      padding: 1rem;
      font-size: 16px;
    }

    @media (--medium-viewport) {
      padding: 1.1rem;
      font-size: 17px;
    }

    @media (--large-viewport) {
      padding: 1.2rem;
      font-size: 18px;
    }
  }

  .facebook {
    background: #3b5998;
  }

  .twitter {
    background: #55acee;
  }

  .google {
    background: #dd4b39;
  }

  .linkedin {
    background: #007bb5;
  }

  .youtube {
    background: #bb0000;
  }
}