@import 'components/utils/variables';

.root {
  flex: 1 1 auto;
  margin: 0 auto;
  margin-bottom: 50px;

  @media (--small-viewport) {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (--medium-viewport) {
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (--large-viewport) {
    padding-top: 80px;
    padding-left: 32px;
    padding-right: 32px;
  }
}