@import 'components/utils/colors';

.root {
  &.outer {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $col_alpha_5;
    z-index: -1;
  }

  &.inner {
    position: initial;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
  }
}