.content {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.row {
    flex-direction: row;

    &:not(:only-child) {
      >img:first-child {
        padding-right: 5px;
      }
    }
  }

  &.column {
    flex-direction: column;

    &:not(:only-child) {
      >img:first-child {
        padding-bottom: 5px;
      }
    }
  }
}