@import 'components/utils/colors';

.root {
  position: fixed;
  bottom: 1em;
  right: 1em;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
  background-color: $inverse;
  color: $white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease;

  &>img {
    width: 1.5em;
    height: 1.5em;
  }

  &[data-visible='true'] {
    visibility: visible;
  }

  &:hover {
    background-color: $inverse_hover;
  }
}