@import 'components/utils/colors';
@import 'components/utils/variables';

.app-logo {
  line-height: 1.5;
  letter-spacing: 1.5px;
  padding-left: 1rem;
  font-weight: 600;
  user-select: none;

  @media (--small-viewport) {
    font-size: $fs_large;
  }

  @media (--medium-viewport) {
    font-size: $fs_x_large;
  }

  @media (--large-viewport) {
    font-size: $fs_xx_large;
  }
}