@import 'components/utils/colors';
@import 'components/utils/variables';

.app-logo {
  letter-spacing: 1px;
  padding-left: 1rem;
  font-weight: 600;
  user-select: none;

  @media (--small-viewport) {
    font-size: $fs_x_large;
    line-height: 1.3;
  }

  @media (--medium-viewport) {
    font-size: $fs_x_large;
    line-height: 1.4;
  }

  @media (--large-viewport) {
    font-size: $fs_xx_large;
    line-height: 1.5;
  }
}
