@import 'components/utils/colors';
@import 'components/utils/mixins';

.menu-list {
  padding-top: 8px;
  padding-bottom: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
}

.menu-item-icon {
  margin-right: 1.3rem;
}

.menu-item-text {
  display: block;
  line-height: 1.5;
  @include ellipsis;
}