@import 'components/utils/colors.scss';
@import 'components/utils/variables.scss';

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: $transition_duration_1;
  border: 1px solid transparent;
  color: $white;
  cursor: pointer;
  user-select: none;

  &.primary {
    border-color: $primary;
    background-color: $primary;

    &:hover {
      border-color: $primary_hover;
      background-color: $primary_hover;
    }

    &[data-variant='outline'] {
      border-color: $primary;
      background-color: $white;
      color: $primary;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }

    &[data-variant='text'] {
      border-color: transparent;
      background-color: transparent;
      color: $primary;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }

  &.info {
    border-color: $info;
    background-color: $info;

    &:hover {
      border-color: $info_hover;
      background-color: $info_hover;
    }

    &[data-variant='outline'] {
      border-color: $info;
      background-color: $white;
      color: $info;

      &:hover {
        background-color: $info;
        color: $white;
      }
    }

    &[data-variant='text'] {
      border-color: transparent;
      background-color: transparent;
      color: $info;

      &:hover {
        background-color: $info;
        color: $white;
      }
    }
  }

  &.danger {
    border-color: $danger;
    background-color: $danger;

    &:hover {
      border-color: $danger_hover;
      background-color: $danger_hover;
    }

    &[data-variant='outline'] {
      border-color: $danger;
      background-color: $white;
      color: $danger;

      &:hover {
        background-color: $danger;
        color: $white;
      }
    }

    &[data-variant='text'] {
      border-color: transparent;
      background-color: transparent;
      color: $danger;

      &:hover {
        background-color: $danger;
        color: $white;
      }
    }
  }

  &.success {
    border-color: $success;
    background-color: $success;

    &:hover {
      border-color: $success_hover;
      background-color: $success_hover;
    }

    &[data-variant='outline'] {
      border-color: $success;
      background-color: $white;
      color: $success;

      &:hover {
        background-color: $success;
        color: $white;
      }
    }

    &[data-variant='text'] {
      border-color: transparent;
      background-color: transparent;
      color: $success;

      &:hover {
        background-color: $success;
        color: $white;
      }
    }
  }

  &.warning {
    border-color: $warning;
    background-color: $warning;
    color: $black;

    &:hover {
      border-color: $warning_hover;
      background-color: $warning_hover;
    }

    &[data-variant='outline'] {
      border-color: $warning;
      background-color: $white;
      color: $warning;

      &:hover {
        background-color: $warning;
        color: $black;
      }
    }

    &[data-variant='text'] {
      border-color: transparent;
      background-color: transparent;
      color: $warning;

      &:hover {
        background-color: $warning;
        color: $black;
      }
    }
  }

  &.inverse {
    border-color: $inverse;
    background-color: $inverse;

    &:hover {
      border-color: $inverse_hover;
      background-color: $inverse_hover;
    }

    &[data-variant='outline'] {
      border-color: $inverse;
      background-color: $white;
      color: $inverse;

      &:hover {
        background-color: $inverse;
        color: $white;
      }
    }

    &[data-variant='text'] {
      border-color: transparent;
      background-color: transparent;
      color: $inverse;

      &:hover {
        background-color: $inverse;
        color: $white;
      }
    }
  }

  &.light {
    border-color: $white;
    background-color: $white;
    color: $black;

    &:hover {
      border-color: $col_alpha_08;
      background-color: $col_alpha_08;
    }

    &[data-variant='outline'] {
      border-color: $white;
      background-color: transparent;
      color: $white;

      &:hover {
        background-color: $col_alpha_08;
      }
    }
  }

  &.dark {
    border-color: $black;
    background-color: $black;
    color: $white;

    &:hover {
      border-color: $col_alpha_5;
      background-color: $col_alpha_5;
    }

    &[data-variant='outline'] {
      border-color: $black;
      background-color: transparent;
      color: $black;

      &:hover {
        background-color: $col_alpha_5;
      }
    }
  }

  &[disabled] {
    cursor: default;
    pointer-events: none;
    border-color: $disabled;
    background-color: $disabled;
  }

  &.small {
    font-size: $fs_small;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
  }

  &.medium {
    font-size: $fs_medium;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
  }

  &.large {
    font-size: $fs_large;
    padding: 0.5rem 1rem;
    line-height: 1.5;
  }

  &[data-full-width='true'] {
    width: 100%;
  }
}