@import 'components/utils/colors.scss';
@import 'components/utils/variables.scss';
@import 'components/utils/classes.scss';

.root {
  line-height: 1.2;
  text-indent: 0.5rem;
  user-select: none;
  @extend .ellipsis;

  /* component */
  &.h1 {
    font-size: $fs_xxxx_large;
    font-weight: 500;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &.h2 {
    font-size: $fs_xxx_large;
    font-weight: 500;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  &.h3 {
    font-size: $fs_xx_large;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &.h4 {
    font-size: $fs_x_large;
    font-weight: 400;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  &.h5 {
    font-size: $fs_large;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &.h6 {
    font-size: $fs_medium;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  /* color */
  &.light {
    color: $white;
  }

  &.dark {
    color: $black;
  }

  &.primary {
    color: $primary;
  }
}