@import 'components/utils/colors';
@import 'components/utils/variables';
@import 'components/utils/mixins';

@mixin component($fontSize, $fontWeight, $padding) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  padding-top: $padding;
  padding-bottom: $padding;
}

.root {
  letter-spacing: 0.4px;
  line-height: 1.2;
  user-select: none;

  &[data-ellipsis='true'] {
    @include ellipsis;
  }

  /* components */
  &.h1 {
    @include component($fs_xxxx_large, 500, 1.5rem);
  }

  &.h2 {
    @include component($fs_xxx_large, 500, 1.25rem);
  }

  &.h3 {
    @include component($fs_xx_large, 500, 1rem);
  }

  &.h4 {
    @include component($fs_x_large, 400, 0.75rem);
  }

  &.h5 {
    @include component($fs_large, 400, 0.5rem);
  }

  &.h6 {
    @include component($fs_base_large, 400, 0.5rem);
  }

  /* colors */
  &.light {
    color: $white;
  }

  &.dark {
    color: $black;
  }

  &.primary {
    color: $primary;
  }
}