@import 'components/utils/colors.scss';
@import 'components/utils/variables.scss';

.root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  max-width: 240px;
  background-color: $white;
  z-index: $drawer_layer;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &[data-open='true'] {
    transform: translate(0px, 0px);
  }

  &[data-open='false'] {
    transform: translateX(-264px);
  }
}